@import "../../shared/colors";

body {
    main {
        #sectionsContainer {
            display: flex;
            flex-direction: column;
            gap: 50px;
            
            section {
                display: flex;
                flex-direction: column;
                gap: 22px;
    
                h2 {
                    color: $vermelhoRecife;
                    font-size: 1.375rem;
                    font-weight: 600;
                }
    
                div {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                }
    
                h3 {
                    font-size: 1.25rem;
                    font-weight: 600;
                }
    
                p {
                    font-size: 1.125rem;
    
                    span {
                        font-weight: 600;
                    }
                }

                #imageContainer {
                    position: relative;

                    #orangeBox {
                        bottom: 0;
                        background-color: $vermelhoRecife;
                        border-radius: 16px;
                        height: 200px;
                        position: absolute;
                        width: 100%;
                        z-index: -9999;
                    }
                }

                #videoContainer {
                    border: 1px solid transparent !important;
                    border-radius: 10px;
                    overflow: hidden;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    body {
        main {
            #sectionsContainer {
                section {
                    h2 {
                        font-size: 1.5rem;
                    }
        
                    div {
                        gap: 10px;
                    }

                    #imageContainer {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        img {
                            width: 600px;
                        }
                        #orangeBox {
                            height: 250px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    body {
        main {
            #sectionsContainer {
                gap: 50px;

                section {
                    h2 {
                        font-size: 1.875rem;
                    }

                    h3 {
                        font-size: 1.375rem;
                    }
        
                    div {
                        gap: 15px;
                    }

                    #imageContainer {
                        #orangeBox {
                            height: 300px;
                        }
                    }

                    #videoContainer {
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1366px) {
    body {
        main {
            #sectionsContainer {
                section {
                    #imageContainer {
                        #orangeBox {
                            height: 350px;
                        }
                    }

                    #videoContainer {
                        display: flex;
                        align-items: center;

                        video {
                            width: 65%;
                        }
                    }
                }
            }
        }
    }
}