//Primary colors
$azulMar: #c9d4d9;
$amareloTarsila: #e2af58;
$begeDelicado: #fcfcfa;
$verdeMosaico: #9da882;
$vermelhoRecife: #c56e51;

//Secondary colors
$azulRio: #e2e8eb;
$cinzaElegante: #3c3c3b;
$rosaRetro: #e2b79f;