@import "./colors";

body {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;

        #indexReferrer {
            img {
                margin-top: 30px;
                width: 300px;
            }
        }

        nav {
            margin-top: 60px;

            ul {
                display: flex;
                font-size: 1.125rem;
                gap: 16px;
                margin: 20px 0;

                #selected {
                    a {
                        color: $vermelhoRecife;
                        font-weight: 600;
                    }
                }

                li:not(#selected) {
                    a {
                        opacity: 0.8;
                        color: $cinzaElegante;
                    }
                }

                li:not(#selected) {
                    a:hover {
                        color: $vermelhoRecife;
                        transition: 300ms color;
                        opacity: 1;
                    }
                }
            }
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        border-top: 1px solid $cinzaElegante;
        padding: 30px;

        #socialLinks {
            ul {
                display: flex;
                flex-direction: row;
                gap: 16px;

                li {
                    a {
                        i {
                            font-size: 28px;
                            color: $cinzaElegante;
                            padding: 5px;
                            border: 1px solid $cinzaElegante;
                            border-radius: 6px;
                        }
                    }
                }
            }
        }

        #legalInformation {
            font-size: 0.975rem;
            display: flex;
            gap: 5px;
            flex-direction: column;
            align-items: center;
            text-align: center;

            p {
                span {
                    font-weight: bold;
                }
            }

            a {
                color: $cinzaElegante;
                padding-top: 10px;
                font-weight: bold;
                transition: 500ms color;
            }

            a:hover {
                color: $vermelhoRecife;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    body {
        header {
            nav {
                ul {
                    gap: 26px;
                    margin: 25px 0 20px;
                }
            }
        }

        footer {
            flex-direction: row;
            gap: 0;
            justify-content: space-between;
            align-items: flex-start;
            padding: 30px 40px;

            #legalInformation {
                font-size: 1rem;
                gap: 3px;
                align-items: end;
                text-align: center;

                a {
                    padding-top: 5px;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    body {
        header {
            nav {
                ul {
                    font-size: 1.150rem;
                    margin: 25px 0 40px;
                }
            }
        }

        footer {
            padding: 30px 50px;
        }
    }
}

@media screen and (min-width: 1366px) {
    body {
        footer {
            padding: 30px 80px;

            #socialLinks {
            ul {
                gap: 15px;

                li {
                    a {
                        i {
                            font-size: 25px;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
        }
    }
}