@import "./colors";

@font-face {
    font-family: "All Round Gothic";
    src: url("../../assets/fonts/title/AllRoundGothic-Lig.otf") format("opentype"), url("../../assets/fonts/title/AllRoundGothic-Lig.otf") format("woff"), url("../../assets/fonts/title/AllRoundGothic-Lig.otf") format("woff2");
}

body {
    main {
        #pageInfo {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            margin: 10px 0 50px;

            h1 {
                color: $vermelhoRecife;
                font-family: "All Round Gothic", sans-serif;
                font-size: 3rem;
                font-weight: bold;
                text-align: center;
            }

            p {
                font-size: 1.125rem;
                text-align: center;

                strong {
                    font-weight: 600;
                }

                a {
                    font-weight: 500;
                    color: $vermelhoRecife;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    body {
        main {
            #pageInfo {
                h1 {
                    font-size: 4rem;
                }

                p {
                    padding: 0 50px;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    body {
        main {
            #pageInfo {
                gap: 30px;

                h1 {
                    font-size: 4.5rem;
                }

                p {
                    line-height: 26px;
                    padding: 0 70px;
                }
            }
        }
    }
}

@media screen and (min-width: 1366px) {
    body {
        main {
            #pageInfo {
                h1 {
                    font-size: 3.375rem;
                    padding: 0 80px;
                }

                p {
                    line-height: 30px;
                    padding: 0 120px;
                }
            }
        }
    }
}

@media screen and (min-width: 1768px) {
    body {
        main {
            #pageInfo {
                p {
                    padding: 0 150px;
                }
            }
        }
    }
}