/**
 * Scrollbar Styles
 */

/* ============================================
   SCROLLBAR
   ============================================ */
::-webkit-scrollbar {
  padding-top: 16px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-vermelho-recife);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-bege-delicado);
}

