@import "./colors";

::-webkit-scrollbar {
    padding-top: 16px;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: $vermelhoRecife;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: $begeDelicado;
}