@import "./colors";

body {
    main {
        #separatorBox {
            display: flex;
            justify-content: center;
            margin: 40px 0 30px;
            width: 100%;
        
            #separator {
                border-top: 1px solid $cinzaElegante;
                opacity: 0.5;
                width: 50%;
            }
        }
    }
}