@import "./colors";

@font-face{
    font-family: "Source Sans 3";
    src: url("../../assets/fonts/common/SourceSans3-VariableFont_wght.ttf") format("truetype");
    font-weight: 200 700;
}

a {
    text-decoration: none;
}

body {
    background-color: $begeDelicado;
    color: $cinzaElegante;
    display: flex;
    flex-direction: column;
    font-family: "Source Sans 3", sans-serif;
    gap: 2rem;
    min-height: 100dvh;
    
    header {
        nav {
            #selected {
                color: $vermelhoRecife;
            }
        }
    }

    main {
        flex: 1 0 auto;
        padding: 0 28px;
    }

    p {
        line-height: 22px;
    }
}

@media screen and (min-width: 768px) {
    body {
        main {
            padding: 0 40px;
        }
    }
}

@media screen and (min-width: 1024px) {
    body {
        main {
            padding: 0 50px;
        }
    }
}

@media screen and (min-width: 1366px) {
    body {
        main {
            padding: 0 80px;
        }
    }
}