@import "./colors";

@font-face {
    font-family: "Kantumruy Pro Regular";
    src: url("../../assets/fonts/subtitle/KantumruyPro-SemiBold.ttf") format("truetype");
}

#whatsappFloatingButton {
    display: none;
    z-index: 9999;
    
    div {
        background-color: $vermelhoRecife;
        display: flex;
        align-items: center;
        gap: 8px;
        position: fixed;
        right: 25px;
        top: 70%;
        padding: 8px 10px;
        border: 2px solid $begeDelicado;
        border-radius: 5px;

        -webkit-box-shadow: 0px 0px 15px 5px rgba(197, 110, 81, 0.4);
        -moz-box-shadow: 0px 0px 15px 5px rgba(197, 110, 81, 0.4);
        box-shadow: 0px 0px 15px 5px rgba(197, 110, 81, 0.4);
        
        span {
            font-family: "Kantumruy Pro Regular", sans-serif;
            color: $begeDelicado;
            font-size: 0.875rem;
            font-weight: 500;
        }
    
        i {
            color: $begeDelicado;
            font-size: 32px;
        }
    }
}

@media screen and (min-width: 1024px) {
    #whatsappFloatingButton {
        display: block;
    }
}