@import "./colors";


#whatsappFloatingButton {
    z-index: 9999;
    
    div {
        background-color: $vermelhoRecife;
        display: flex;
        align-items: center;
        gap: 10px;
        position: fixed;
        right: 20px;
        top: 20px;
        padding: 8px 10px;
        border: 2px solid $begeDelicado;
        border-radius: 5px;

        span {
            color: $begeDelicado;
            font-size: 0.9rem;
            font-weight: 500;
        }
    
        i {
            color: $begeDelicado;
            font-size: 40px;
        }
    }
}