@import "../../shared/colors";

.visibilityOff {
    visibility: hidden;
}

.brightnessFilter {
    filter: brightness(0.5);
}

body {
    main {
        #projectsContainer {
            display: flex;
            flex-direction: column;
            gap: 32px;

            article {
                height: 360px;
                position: relative;

                a {
                    span {
                        background-color: $begeDelicado;
                        border-radius: 16px;
                        color: $cinzaElegante;
                        filter: opacity(0.9);
                        font-family: "All Round Gothic", sans-serif;
                        left: 50%;
                        margin: 0;
                        padding: 20px 16px;
                        position: absolute;
                        text-transform: lowercase;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 2;

                        h4 {
                            border-top: 1px solid $cinzaElegante;
                            border-bottom: 1px solid $cinzaElegante;
                            padding: 16px 0;
                            text-align: center;
                        }
                    }

                    img {
                        border-radius: 10px;
                        height: 360px;
                        object-fit: cover;
                        position: absolute;
                        transition: 300ms;
                        width: 100%;
                        z-index: 1;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    body {
        main {
            #projectsContainer {
                flex-direction: row;
                flex-wrap: wrap;
                gap: 0;
                justify-content: space-between;
                row-gap: 20px;
                width: 100%;

                article {
                    min-width: 49%;

                    a {
                        img {
                            border-radius: 8px;
                        }
                    }
                }
            }
        }
    }
}