/**
 * Projects Page Styles
 */

.visibilityOff {
  visibility: hidden;
}

.brightnessFilter {
  filter: brightness(0.5);
}

body main #projectsContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

body main #projectsContainer article {
  height: 360px;
  position: relative;
}

body main #projectsContainer article a span {
  background-color: var(--color-bege-delicado);
  border-radius: 16px;
  color: var(--color-cinza-elegante);
  filter: opacity(0.9);
  font-family: "All Round Gothic", sans-serif;
  left: 50%;
  margin: 0;
  padding: 20px 16px;
  position: absolute;
  text-transform: lowercase;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

body main #projectsContainer article a span h4 {
  border-top: 1px solid var(--color-cinza-elegante);
  border-bottom: 1px solid var(--color-cinza-elegante);
  padding: 16px 0;
  text-align: center;
}

body main #projectsContainer article a img {
  border-radius: 10px;
  height: 360px;
  object-fit: cover;
  position: absolute;
  transition: 300ms;
  width: 100%;
  z-index: 1;
}

@media screen and (min-width: 1024px) {
  body main #projectsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    justify-content: space-between;
    row-gap: 20px;
    width: 100%;
  }

  body main #projectsContainer article {
    min-width: 49%;
  }

  body main #projectsContainer article a img {
    border-radius: 8px;
  }
}

@media screen and (min-width: 1366px) {
  body main #projectsContainer article {
    height: 400px;
  }

  body main #projectsContainer article a img {
    height: 400px;
  }
}
