@import "../../shared/colors";

main {
    text-align: justify;

    #policies {
        display: flex;
        flex-direction: column;
        gap: 25px;

        span {
            font-weight: 700;
        }

        .policy {
            h2 {
                font-size: 1.75rem;
                font-weight: 600;
                padding-bottom: 8px;
            }

            .policyInfo {
                display: flex;
                flex-direction: column;
                gap: 15px;

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    list-style-type: disc;
                    padding-left: 28px;
                }

                span {
                    font-weight: 700;
                    padding-top: 10px;
                }
            }
        }
    }

    #separatorBox {
        display: flex;
        justify-content: center;
        margin: 50px 0;
        width: 100%;

        #separator {
            border-top: 1px solid $cinzaElegante;
            width: 30%;
        }
    }

    #contactInformationIfDoubt {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;

        h2 {
            font-family: "All Round Gothic", sans-serif;
            text-align: center;
            font-size: 2rem;
            text-transform: lowercase;
            color: $vermelhoRecife;
        }

        p {
            a {
                font-weight: 600;
                color: $vermelhoRecife;
            }
        }
    }
}