@import "../../shared/colors";

@font-face{
    font-family: "Source Sans 3";
    src: url("../../../assets/fonts/common/SourceSans3-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
}

body {
    font-family: "Source Sans 3", sans-serif;
    font-size: 1.25rem;
    overflow: hidden;

    main {
        background-color: $begeDelicado;
        background-image: url("../../../assets/images/svg/500x1080.svg");
        background-size: 500px auto;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        height: 100dvh;

        img {
            width: 250px;
        }

        nav {
            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;

                li {
                    a {
                        color: $cinzaElegante;
                        text-decoration: none;
                    }

                    a:hover {
                        color: $vermelhoRecife;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    body {
        main {
            background-image: url("../../../assets/images/svg/1024x1366.svg");
            background-size: 1024px auto;

            img {
                width: 300px;
            }

            nav {
                ul {
                    font-size: 1.25rem;
                    gap: 30px;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    body {
        main {
            gap: 35px;
            
            img {
                width: 350px;
            }

            nav {
                ul {
                    font-size: 1.75rem;
                    gap: 35px;
                }
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    body {
        main {
            background-image: url("../../../assets/images/svg/1440x900.svg");
            background-size: 1440px auto;

            #maribeLogo {
                display: none;
            }

            nav {
                position: relative;
                height: 100dvh;
                width: 100%;

                ul {
                    flex-direction: row;
                    justify-content: center;
                    gap: 50px;
                    position: absolute;
                    left: 30%;
                    top: 16%;
                    translate: transform(30%, 16%);
                    z-index: 9999;
                }
            }
        }
    }
}

@media screen and (min-width: 1680px) {
    body {
        main {
            background-image: url("../../../assets/images/svg/3840x2160.svg");
            background-size: 1680px auto;

            nav {
                ul {
                    gap: 50px;
                    left: 35%;
                    top: 22%;
                    translate: transform(35%, 22%);
                }
            }
        }
    }
}

@media screen and (min-width: 1830px) {
    body {
        main {
            background-image: url("../../../assets/images/svg/3840x2160.svg");
            background-size: 1830px auto;

            nav {
                ul {
                    font-size: 2rem;
                }
            }
        }
    }
}

@media screen and (min-width: 2250px) {
    body {
        main {
            background-image: url("../../../assets/images/svg/3840x2160.svg");
            background-size: 2250px auto;

            nav {
                ul {
                    font-size: 2.5rem;
                    gap: 65px;
                    left: 35.5%;
                    top: 22%;
                    translate: transform(35.5%, 22%);
                }
            }
        }
    }
}