@font-face {
  font-family: "Source Sans 3";
  src: url("../../../assets/fonts/common/SourceSans3-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
}
body {
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.25rem;
  overflow: hidden;
}
body main {
  background-color: #fcfcfa;
  background-image: url("../../../assets/images/svg/500x1080.svg");
  background-size: 500px auto;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}
body main img {
  width: 250px;
}
body main nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
body main nav ul li a {
  color: #3c3c3b;
  text-decoration: none;
  transition: 400ms color;
}
body main nav ul li a:hover {
  color: #c56e51;
}

@media screen and (min-width: 768px) {
  body main {
    background-image: url("../../../assets/images/svg/1024x1366.svg");
    background-size: 1024px auto;
  }
  body main img {
    width: 300px;
  }
  body main nav ul {
    font-size: 1.25rem;
    gap: 30px;
  }
}
@media screen and (min-width: 1024px) {
  body main {
    background-image: url("../../../assets/images/svg/1024x1366.svg");
    background-size: 1024px auto;
    gap: 35px;
  }
  body main img {
    width: 350px;
  }
  body main nav ul {
    font-size: 1.75rem;
    gap: 35px;
  }
}
@media screen and (min-width: 1280px) {
  body main {
    background-image: url("../../../assets/images/svg/1280x1024.svg");
    background-size: 1280px auto;
  }
  body main #maribeLogo {
    display: none;
  }
  body main nav {
    position: relative;
    height: 100dvh;
    width: 100%;
  }
  body main nav ul {
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    position: absolute;
    left: 31%;
    top: 16%;
    translate: transform(31%, 16%);
    z-index: 9999;
  }
}
@media screen and (min-width: 1366px) {
  body main {
    background-image: url("../../../assets/images/svg/1366x768.svg");
    background-size: 1366px auto;
  }
  body main nav ul {
    gap: 50px;
    left: 30%;
    top: 23%;
    translate: transform(30%, 23%);
  }
}
@media screen and (min-width: 1440px) {
  body main {
    background-image: url("../../../assets/images/svg/1440x900.svg");
    background-size: 1440px auto;
  }
  body main nav ul {
    gap: 80px;
    left: 27.5%;
    top: 19%;
    translate: transform(27.5%, 19%);
  }
}
@media screen and (min-width: 1896px) {
  body main {
    background-image: url("../../../assets/images/svg/1920x1080.svg");
    background-size: 1896px auto;
  }
  body main nav ul {
    gap: 100px;
    left: 31%;
    top: 23%;
    translate: transform(31%, 23%);
    font-size: 1.9rem;
  }
}
@media screen and (min-width: 2560px) {
  body main {
    background-image: url("../../../assets/images/svg/3840x2160.svg");
    background-size: 2560px auto;
  }
  body main nav ul {
    gap: 130px;
    font-size: 2.5rem;
    left: 32%;
    top: 22%;
    translate: transform(32%, 22%);
    font-size: 2.5rem;
  }
}/*# sourceMappingURL=home.css.map */