@import "../../shared/colors";

@font-face{
    font-family: "Source Sans 3";
    src: url("../../../assets/fonts/common/SourceSans3-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
}

body {
    font-family: "Source Sans 3", sans-serif;
    font-size: 1.25rem;
    overflow: hidden;

    main {
        background-color: $begeDelicado;
        background-image: url("../../../assets/images/svg/500x1080.svg");
        background-size: 500px auto;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        height: 100dvh;
        position: relative;

        #maribeDesktopBackground {
            display: none;
        }

        img {
            width: 250px;
        }

        nav {
            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                z-index: 1;

                li {
                    a {
                        color: $cinzaElegante;
                        text-decoration: none;
                        transition: 400ms color;
                    }

                    a:hover {
                        color: $vermelhoRecife;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    body {
        main {
            background-image: url("../../../assets/images/svg/1024x1366.svg");
            background-size: 1024px auto;

            img {
                width: 300px;
            }

            nav {
                ul {
                    font-size: 1.25rem;
                    gap: 30px;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    body {
        main {
            background-image: url("../../../assets/images/svg/1024x1366.svg");
            background-size: 1024px auto;
            gap: 35px;
            
            img {
                width: 350px;
            }

            nav {
                ul {
                    font-size: 1.75rem;
                    gap: 35px;
                }
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    body {
        main {
            background-image: none;

            #maribeDesktopBackground {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;     
                opacity: 0.7;
            }

            #maribeLogo {
                display: none;
            }

            nav {
                position: relative;
                height: 100dvh;
                width: 100%;

                ul {
                    flex-direction: row;
                    justify-content: center;
                    gap: 50px;
                    position: absolute;
                    font-size: 1.35rem;
                    left: 32%;
                    top: 24%;
                    translate: transform(32%, 24%);
                    z-index: 9999;
                }
            }
        }
    }
}

@media screen and (min-width: 1366px) {
    body {
        main {
            nav {
                ul {
                    left: 33%;
                    top: 26%;
                    translate: transform(33%, 26%);
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    body {
        main {
            nav {
                ul {
                    gap: 65px;
                    font-size: 1.4rem;
                    left: 32%;
                    top: 24%;
                    translate: transform(32%, 24%);
                }
            }
        }
    }
}

@media screen and (min-width: 1896px) {
    body {
        main {
            nav {
                ul {
                    gap: 80px;
                    left: 33%;
                    top: 27%;
                    translate: transform(33%, 27%);
                    font-size: 1.75rem;
                }
            }
        }
    }
}

@media screen and (min-width: 2560px) {
    body {
        main {
            nav {
                ul {
                    gap: 120px;
                    font-size: 2.2rem;
                }
            }
        }
    }
}