/**
 * 404 Page Styles
 */

body main div {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

body main div i {
  color: var(--color-vermelho-recife);
  font-size: 112px;
}

body main div #notFoundText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
}

body main div #notFoundText h1 {
  font-family: "All Round Gothic", sans-serif;
  color: var(--color-vermelho-recife);
  font-weight: bold;
  font-size: 2rem;
  line-height: 35px;
}

body main div #notFoundText p {
  font-size: 1.125rem;
}

body main div #notFoundText p a {
  color: var(--color-vermelho-recife);
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  body main div {
    gap: 15px;
  }

  body main div i {
    font-size: 130px;
  }

  body main div #notFoundText {
    gap: 25px;
  }

  body main div #notFoundText h1 {
    font-size: 2.25rem;
    padding: 0 45px;
    line-height: 45px;
  }

  body main div #notFoundText p {
    padding: 0 50px;
  }
}

@media screen and (min-width: 1024px) {
  body main div #notFoundText h1 {
    font-size: 2.5rem;
    padding: 0 50px;
  }

  body main div #notFoundText p {
    font-size: 1.25rem;
    line-height: 30px;
    padding: 0 150px;
  }
}

@media screen and (min-width: 1366px) {
  body main div #notFoundText p {
    padding: 0 150px 50px;
  }
}
