@import "../../shared/colors";

@font-face {
    font-family: "All Round Gothic";
    src: url("../../../assets/fonts/title/AllRoundGothic-Lig.otf") format("opentype"), url("../../assets/fonts/title/AllRoundGothic-Lig.otf") format("woff"), url("../../assets/fonts/title/AllRoundGothic-Lig.otf") format("woff2");
}

body {
    main {
        div {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;

            i {
                color: $vermelhoRecife;
                font-size: 112px;
            }

            #notFoundText {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                text-align: center;

                h1 {
                    font-family: "All Round Gothic", sans-serif;
                    color: $vermelhoRecife;
                    font-weight: bold;
                    font-size: 2rem;
                    line-height: 35px;
                }

                p {
                    font-size: 1.125rem;

                    a {
                        color: $vermelhoRecife;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    body {
        main {
            div {
                gap: 15px;

                i {
                    font-size: 130px;
                }

                #notFoundText {
                    gap: 25px;

                    h1 {
                        font-size: 2.25rem;
                        padding: 0 45px;
                        line-height: 45px;
                    }

                    p {
                        padding: 0 50px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    body {
        main {
            div {
                #notFoundText {
                    h1 {
                        font-size: 2.5rem;
                        padding: 0 50px;
                    }

                    p {
                        font-size: 1.25rem;
                        line-height: 30px;
                        padding: 0 150px;
                    }
                }
            }
        }
    }
}